version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: cheque-app
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://cheque-mongo:27017/BorsDatabase
    command: npm run start:dev
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: cheque-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/var/lib/mongo/data
    restart: unless-stopped

volumes:
  mongo_data:
