services:
  app:
    build:
      context: .
      dockerfile: dockerfile.dev
    container_name: cheque-app

    ports:
      - "3000:3000"

    volumes:
      - .:/usr/src/app

    environment:
      NODE_ENV: development
      MONGODB_URI: mongodb://mongo:27017/BorsDatabase

    depends_on:
      - mongo

    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: cheque-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
